.games-view {
  display: grid;
  grid-template-areas: 
    "header header"
    "sidebar content";
  grid-template-rows: auto 1fr ;
  grid-template-columns: auto 1fr;
  width: 100%;
  gap: 16px;

  h1 {
    grid-area: header;
  }
}

.games-view__filters {
  max-height: max-content;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #135e7e;
  padding: 8px;
  grid-area: sidebar;
  // border-radius: 8px;
  color: #fff;
  // position: sticky;
  // top: 100px;
  min-width: 200px;
  max-width: fit-content;

  >* {
    margin: 8px;
  }
}

.games-view__games {
  grid-area: content;
}

@media screen and (max-width: 900px) {
  .games-view{
    grid-template-areas: 
    "header header"
    "sidebar sidebar"
    "content content";
    width: inherit;
  }

  .games-view__filters {
    flex-direction: row;
    margin-left: 0;
    padding: 8px 4px;
    align-items: center;
  }  
}
