.assignment-preview {
  width: 100%;
  // background-color: #bebebe;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  margin-bottom: 16px;
  text-align: left;
  overflow: hidden;
  box-shadow: rgb(0 0 0 / 25%) 2px 2px 4px 0px;
}

.accepted-null {
  background-color: #fff;
  border: 2px #bebebe solid;
}

.accepted-true {
  border: 3px #5dba56 solid;
    background: #d4ffd1;
}

.accepted-false {
  background-color: #ffd9d4;
  color: #9e0000;
  border: 3px #9e0000 solid;
  text-decoration: line-through;
  text-decoration-thickness: 1.5px;
}

.assignment-preview__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  user-select: none;
  cursor: pointer;
  padding: 16px;
}

.assignment-preview__datetime {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 16px;

  .assignment-preview__date {
    display: flex;
    flex-direction: column;

    :first-child {
      font-size: small;
    }
    
    :last-child{
      font-size: 2rem;
    }
  }
  
  .assignment-preview__time{
    width: fit-content;
  }
}

.assignment-preview__datetime::after {
  content: "";
  height: 4rem;
  width: 1.5px;
  background-color: #00000028;
}

.assignment-preview__details {
  flex-grow: 0.5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & > * {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.assignment-preview__confirmation{
  margin-right: 24px;
  display: flex;
  gap: 8px;
  position: relative;
  transition: all ease-in-out 0.5s;
  
  &>* {
    // transform: translateX(250px);
    font-size: 150%;
    padding: 8px;
  }
}