nav {
  z-index: 99;
}

.navbar {
  background-color: cadetblue;
  top: -1px;
  position: sticky;
  position: -webkit-sticky;
  display: flex;
  color: red;
  align-items: center;
  padding: 8px 32px;
  min-height: 70px;
}

.navbar-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.navbar-links__dropdown-open {
  display: block;
  visibility: collapse;

  position: absolute;
  background: aliceblue;
  width: 100%;
  margin: 0;
  padding: 16px 32px;

  transform: /* translateY(-100px)  */scaleY(0.1);
  transform-origin: 0% 0%;
  opacity: 0;

  transition: all ease-in 0.5s;

  li {
    list-style: none;
    margin-bottom: 8px;

    a {
      text-decoration: none;
    }
  }
}

.navbar-links li {
  margin: 0 15px;
  a {
    text-decoration: none;
    display: block;
  }
}

.navbar__dropdown-btn {
  display: none;
}

.navbar__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .navbar__dropdown-btn {
    display: block;
    cursor: pointer;
    padding: 16px 18px;
    background: none;
    font-size: 1.75rem;
    margin: 0;
    transition: all ease-out 0.5s;
    color: #fff;
  }

  .navbar__dropdown-btn.dropdown-open {
    transform: rotate(90deg);
  }

  .navbar-links {
    display: none;
  }

  .navbar-links__dropdown-open.dropdown-open {
    visibility: visible;
    transform: /* translateY(0px) */ scaleY(1);
    opacity: 1;
    transition: all ease-in 0.5s;

  }
}
