html {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #28c3b4;
  margin: 0;
}

// #root {
//   display: grid;
//   grid-template-areas: 
//     "hero"
//     "nav"
//     "content"
//     "footer";
// }