* {
  background-color: #28c3b4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  color: red;
  align-items: center;
  padding: 10px 20px;
}
.navbar-links {
  list-style: none;
  display: flex;
  margin-left: auto;
}
.navbar-links li {
  margin: 0 15px;
}
