@font-face {
  font-family: Hind;
  src: url(./assets/fonts/Hind/Hind-Regular.ttf);
  font-weight: regular;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter/Inter-VariableFont.ttf);
}

html {
  box-sizing: border-box;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #28c3b4;
  margin: 0;
  font-family: Inter, Hind;
}